<header class="header">
<!-- header -->
  <div class="header-wrapper ">
    <a href="../index.html" class="logo-link">
      <svg class="logo-svg">
        <use href="./img/sprite.svg#icon-meltem-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">Компанія</li>
        <li class="nav-item">Продукція</li>
        <li class="nav-item">Статті</li>
        <li class="nav-item">Рішення</li>
        <li class="nav-item">Контакти</li>
      </ul>
    </nav>

    <a href="tel:0800000000" class="tel">0 (800) 00-00-00</a>

    <button type="button" class="button primary stay-in-touch">
      Зв&apos;язатись
    </button>
    <button class="open-menu-btn" type="button">
      <svg class="open-svg">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <ul class="lang-buttons">
      <li>
        <button class="button primary lang-button" type="button">UA</button>
      </li>
      <li>
        <button class="button moskal-button lang-button" type="button">
          RU
        </button>
      </li>
    </ul>
  </div>

  <!-- open mobile menu -->
    <div class="mobile-menu is-hidden">
    <a href="../index.html" class="logo-link">
      <svg class="logo-svg">
        <use href="./img/sprite.svg#icon-meltem-logo"></use>
      </svg>
    </a>
    <nav class="nav mobile">
      <ul class="nav-list mobile">
        <li class="nav-item mobile-item">Компанія</li>
        <li class="nav-item mobile-item">Продукція</li>
        <li class="nav-item mobile-item">Статті</li>
        <li class="nav-item mobile-item">Рішення</li>
        <li class="nav-item mobile-item">Контакти</li>
      </ul>
    </nav>

    <a href="tel:0800000000" class="tel mobile">0 (800) 00-00-00</a>

    <button type="button" class="button primary stay-in-touch">
      Зв&apos;язатись
    </button>
    <button class="close-menu-btn" type="button">
      <svg class="close-svg">
        <use href="./img/sprite.svg#icon-close-burger"></use>
      </svg>
    </button>

    <ul class="lang-buttons mobile">
      <li>
        <button class="button primary lang-button" type="button">UA</button>
      </li>
      <li>
        <button class="button moskal-button lang-button" type="button">
          RU
        </button>
      </li>
    </ul>
  </div>

</header>
