<main>
  <section class="hero-section">
    <div class="hero-main-wrapper">
      <h1>Meltem</h1>
      <p class="hero-info main">
        Meltem &ndash; це гарантовано якісне вентиляційне обладнання від
        німецького заводу.
      </p>

      <button type="button" class="button primary button-hero-prod">
        Продукція
      </button>
    </div>

    <div class="hero-add-wrapper">
      <p class="hero-info">Відцентровий витяжний вентилятор</p>
      <h2 class="meltem-h">Meltem V-II 30-N</h2>
      <button class="button secondary button-hero-det">Детальніше</button>
    </div>

    <!-- swiper -->
    <!-- Slider main container -->
    <div class="swiper image-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper custom-image-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-image-wrapper">
            <img
              src="./img/hero-image.png"
              alt="Відцентровий витяжний вентилятор"
              class="slider-img"
            />
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- swiper -->
  </section>

  <!-- COOKIE POPUP -->
  <div class="cookies-popup">
    <p>
      Використовуючи цей сайт, ви даєте згоду на роботу з файлами
      <a href="../index.html" target="_blank" class="popup-link">cookies</a>.
    </p>
    <button type="button" class="button secondary agree-button">Згоден</button>
  </div>

  <!-- FEDDBACK POPUP -->
  <div class="feedback-popup is-hidden">
    <svg class="feedback-svg">
      <use href="./img/sprite.svg#icon-quality"></use>
    </svg>
    <p class="feedback-text">Дякуємо за заявку!</p>
    <p>Ваші дані успішно надіслані!</p>
  </div>
</main>
