    <main>
        <section class="hero-section">
             <h1>Example page title</h1>
              <!-- Path to images as from index.html file -->
              <img src="../img/hero-image.png" alt="відцентрований витяжний вентилятор" />
  
            </section>

            <div class="cookies-popup">
                <p>Використовуючи цей сайт, ви даєте згоду на роботу з файлами <a href="../index.html" target="_blank" class="popup-link">cookies</a>.</p>
                <button type="button" class="button secondary agree-button" >Згоден</button>
            </div>
    </main>