.header {
  display: none;
  background-color: var(--light-text);

  position: fixed;
  top: 0;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  z-index: 2;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto;
}

.logo-link {
  order: 1;
  margin-right: 48px;
}

.stay-in-touch {
  order: 2;
}

.logo-svg {
  width: 91px;
  height: 18px;
}

.nav {
  order: 4;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  flex-direction: column;
  min-width: 100vw;
  margin-top: 71px;
  margin-bottom: 71px;
}

.nav-item {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  padding: 13px 0;

  cursor: pointer;

  transition: color 250ms linear;
}

.nav-item:is(:hover, :focus),
.tel:is(:hover, :focus) {
  color: var(--accent-color);
}

.tel {
  order: 5;
  letter-spacing: 0.01em;
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  min-width: 100vw;
  margin-bottom: 71px;

  cursor: pointer;
  transition: color 250ms linear;
}

/* close btn */
.close-menu-btn {
  background-color: transparent;
  margin-left: 15px;
  border: none;
  order: 3;
}

.close-svg {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 1440px) {
  .header {
    position: static;
    min-width: unset;
    height: unset;
  }
  .header-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px 60px 20px;
  }

  .nav-list {
    order: 3;
    flex-direction: row;
    min-width: unset;
    margin-top: unset;
    margin-bottom: unset;
  }

  .tel {
    order: 4;
    min-width: unset;
    margin-bottom: unset;
  }
  .stay-in-touch {
    order: 5;
  }

  .logo-svg {
    width: 146px;
    height: 30px;
  }

  .close-menu-btn {
    display: none;
  }
}
