.hero-section {
    background-image: linear-gradient(var(--main-lighter), var(--main-darker));
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

@media screen and (min-width: 1440px) {
.hero-section {
    padding: 80px 80px 80px 60px;
}
}