@import url('./reset.css');
@import url('./hero.css');
@import url('./header.css');
@import url('./popup.css');

:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --text-color: #333333;
  --light-text: #ffffff;
  --accent-color: #859ba6;
  --main-lighter: rgba(247, 249, 251, 1);
  --main-darker: rgba(212, 227, 236, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

/* BUTTONS */
.button {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;

  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: var(--accent-color);
  color: var(--light-text);
}

.secondary,
.stay-in-touch {
  background-color: var(--light-text);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.stay-in-touch {
  width: 100px;
}

.agree-button {
  width: 70px;
  height: 35px;
  padding: 10px 15px;
  margin-left: 12px;
}

/* lang buttons */
.lang-buttons {
  display: none;
}

.lang-buttons.mobile {
  order: 6;
  display: flex;
  align-items: center;
  width: 60px;
}

.lang-button {
  width: 30px;
  height: 30px;
  text-transform: uppercase;
}

.moskal-button {
  color: var(--accent-color);
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 30px 60px;
  }

  .button {
    font-size: 16px;
  }

  .stay-in-touch {
    background-color: var(--accent-color);
    color: var(--light-text);
    border: none;
  width: 140px;
  }

  .agree-button {
    width: 100px;
    height: 45px;
  }

    .lang-buttons {
      display: flex;
      order: 6;
      align-items: center;
      width: 60px;
    }
  
    .lang-button {
      width: 30px;
      height: 30px;
      text-transform: uppercase;
    }
  
    .moskal-button {
      color: var(--accent-color);
      background-color: transparent;
    }
}
